* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #1E1E1E;
}

/*******************Header*******************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #3E3E3E; teste */
    width: 100vw;
    height: 10vh;
}
.left{
    display: flex;
    gap: 5vh;
    margin: 5vh;
}
.right{
    margin: 7vh;
}

/********************Main********************/

main{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.user_img{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    overflow: hidden;
    /* border: 3px solid #4e4e4e; */
    border: 1vh solid #D3ADE7;
    background-color:#D9D9D9;
}

.username{
    margin: 2vh;
    font-family: "Inter", sans-serif;
    font-size: 2vh;
    color: #D3ADE7;
}

.recommendations{
    background-color: #D3ADE7;
    font-size: 2vh;
}

.user_card{
    display: flex;
    gap: 20px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza na tela */
    padding: 20px;
}

.card {
    background: #D9D9D9;
    border-radius: 1vh;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 35vh;
    height: 45vh;
    text-align: center;
    font-family: sans-serif;
}

/******************************************************************/