* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #1E1E1E;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato; /*teste*/
    background-color: #3E3E3E; /*teste*/
    width: 100vw;
    height: 10vh;
}

.left{
    display: flex;
    gap: 5vh;
    margin: 5vh;
    /* background-color: aqua; */
    
}
.right{
    /* max-width: 100px; */
    /* width: 150px; */
    margin: 7vh;
    /* background-color: aquamarine; */
}



    /* margin: 10px;
    display: flex;
    align-items: center;
    max-width: 100%; -- Nunca será maior que o contêiner --
    height: auto; -- Mantém a proporção -- */



/* footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    width: 100vw;
    height: 10vh;
}
footer img{
    width: 8vh;
} */